<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>13 Historical Keys: {{ .KeysData.Year}}</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
    
  </head>
<body>
  <header>
    <nav>
        <div><button class="dialogBtn">i</button></div>
    </nav>
  </header>
    {{ template "Dialog" }}

    <main>
      <section id="home" class="hero">
          <h1>Tracking the 13 <u>Historical</u> keys leading to the <u>{{ .KeysData.Year}}</u> Presidency</h1>
      </section>
    
    {{ template "Info" }}
     
      <section class="candidate-inputs">
          <label for="trueCandidate">
              Incumbent Candidate
              <input id="trueCandidate" class="candidateInput" type="text" value="{{ .KeysData.TrueCandidateName }}">
          </label>
          <p>VS</p>
          <label for="falseCandidate">
              Challenging Candidate
              <input id="falseCandidate" class="candidateInput" type="text" value="{{ .KeysData.FalseCandidateName }}">
          </label>
      </section>
      <hr>
      <section>
          <div class="container">
              <p><em>click boxes to cycle through selections</em></p>
              {{ range .KeysData.Keys }}
                <div class="row">
                  <div class="row-title"><a href="{{ .Data.Wikihref }}">{{ .Data.Title }}</a></div>
                  <p class="toselection">=</p>
                  <p class="hoverHistDesc">{{ .HistoricalDesc }} <a href="{{ .Data.Wikihref }}">Key Metrics Wiki</a></p>
                  <button class="marker-box" data-shade="{{ .Shade }}"></button>
                </div>
            {{ end }}
          </div>
      </section>
    </main>
    
    
    <footer>
        {{ template "Tally" }}
        <div id="test"><button id="repair-selections-btn" disabled>Undo Changes</button></div>

        <p>2024 Presidential Keys Coding Project.</p>
    </footer>

    <script type="text/javascript" src="/static/script.js"></script>
</body>
</html>