<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoilerPlate HTML</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
    
  </head>
<body>
    <header>
        <nav>
            <div><button onclick="window.history.back()"><</button></div>
        </nav>
    </header>

            
    <main>
        <section id="home" class="hero">
            <h1>Oh no, an issue Occurred!</h1>
              
              <p>{{ .Error }}</p>
            <p>Press the arrow above to go back.</p>
        </section>

    <script type="text/javascript" src="/static/script.js"></script>
</body>
</html>