<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>13 Keys: Try it yourself</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
    
  </head>
<body>
    <header>
        <nav>
            <div><button class="dialogBtn">i</button></div>
        </nav>
    </header>
    {{ template "Dialog" }}
            
    <main>
        <section id="home" class="hero">
            <h1>Tracking the 13 keys to the Presidency</h1>
            <p>To learn more click the link of visit...</p>
        </section>

        {{ template "Info" }}
       
        <section class="candidate-inputs">
            <label for="trueCandidate">
                Incumbent Candidate
                <input id="trueCandidate" class="candidateInput" type="text" value="Incumbent">
            </label>
            <p>VS</p>
            <label for="falseCandidate">
                Challenging Candidate
                <input id="falseCandidate" class="candidateInput" type="text" value="Challenger">
            </label>
        </section>
        
        <hr>
        {{ template "IndexSelections"}}
    </main>

    <footer>
        {{ template "Tally" }}
        <div id="test"><button id="clear-selections-btn" disabled>clear selections</button></div>
        <p>2024 Presidential Keys Coding Project.</p>
    </footer>

    <script type="text/javascript" src="/static/script.js"></script>
</body>
</html>