<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoilerPlate HTML</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
    
  </head>
<body>
    <header>
        <nav>
            <div class="logo"><a href="/">Keys</a></div>
        </nav>
    </header>
            
    <main>
        <section id="home" class="hero">
            <h1>Tracking the 13 keys to the president</h1>
            <p>Create and Track simple data for your life!</p>
        </section>

       

        <section id="info">
            <h1>Options:</h1>
            <div class="container">
                <div class="true-option-row">
                    <div class="true certainly">Certainly True</div>
                    <div class="true likely">Likely True</div>
                    <div class="true leans">Leans True</div>
                </div>
               
                <div class="false-option-row">
                   
                    <div class="false certainly">Certainly False</div>
                    
                    <div class="false likely">Likely False</div>
                    <div class="false leans">Leans False</div>
                </div> 
               
            </div>
 <hr>
        </section>
       
        <section class="candidate-inputs">
            <label for="trueCandidate">
                Encumbent Candidate
                <input id="trueCandidate" class="candidateInput" type="text" value="Kamala Harris">

            </label>
            <p>VS</p>

            <label for="falseCandidate">
                Challenging Candidate
                <input id="falseCandidate" class="candidateInput" type="text" value="Donald Trump">
            </label>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="row-title"><a href="">Key 1: Midterm Gains</a></div>
                    <p class="toselection">=</p>
                    
                    <button class="marker-box" data-shade="0">Undecided</button>
                </div>
                <div class="row">
                    <div class="row-title"><a href="">Key 2: No Primary Contest</a></div>
                    <p class="toselection">=</p>
                    <button class="marker-box" data-shade="0">Undecided</button>
                </div> 
                <div class="row">
                    <div class="row-title"><a href="">Key 3: Incumbent Seeking Re-election</a></div>
                    <p class="toselection">=</p>
                    
                    <button class="marker-box" data-shade="0">Undecided</button>
                </div>
                <div class="row">
                    <div class="row-title"><a href="">Key 4: No Third Party</a></div>
                    <p class="toselection">=</p>
                    
                    <button class="marker-box" data-shade="0">Undecided</button>
                </div>
                <div class="row">
                    <div class="row-title"><a href="">Key 5: Strong Short-Term Economy</a></div>
                    <p class="toselection">=</p>
                    
                    <button class="marker-box" data-shade="0">Undecided</button>
                </div>
                <div class="row">
                    <div class="row-title"><a href="">Key 6: Strong Long-Term Economy</a></div>
                    <p class="toselection">=</p>
                    
                    <button class="marker-box" data-shade="0">Undecided</button>
                </div>
                <div class="row">
                    <div class="row-title"><a href="">Key 7: Major Policy Change</a></div>
                    <p class="toselection">=</p>
                    
                    <button class="marker-box" data-shade="0">Undecided</button>
                </div>
                <div class="row">
                    <div class="row-title"><a href="">Key 8: No Social Unrest</a></div>
                    <p class="toselection">=</p>
                    
                    <button class="marker-box" data-shade="0">Undecided</button>
                </div>
                <div class="row">
                    <div class="row-title"><a href="">Key 9: No Scandal</a></div>
                    <p class="toselection">=</p>
                    
                    <button class="marker-box" data-shade="0">Undecided</button>
                </div>
                <div class="row">
                    <div class="row-title"><a href="">Key 10: No Foreign/Military Failure</a></div>
                    <p class="toselection">=</p>
                    
                    <button class="marker-box" data-shade="0">Undecided</button>
                </div>
                <div class="row">
                    <div class="row-title"><a href="">Key 11: Major Foreign/Military Success</a></div>
                    <p class="toselection">=</p>
                    
                    <button class="marker-box" data-shade="0">Undecided</button>
                </div>
                <div class="row">
                    <div class="row-title"><a href="">Key 12: Charismatic Incumbent</a></div>
                    <p class="toselection">=</p>
                    
                    <button class="marker-box" data-shade="0">Undecided</button>
                </div>
                <div class="row">
                    <div class="row-title"><a href="">Key 13: Uncharismatic Challenger</a></div>
                    <p class="toselection">=</p>
                    
                    <button class="marker-box" data-shade="0">Undecided</button>
                </div>

                <div id="test"><button id="clear-selections-btn" disabled>clear selections</button></div>


                 <div class="row tally"> 
                    <label for="true">
                        <p>True</p>
                        <div id="true" class="oppenc">0</div>
                    </label>

                    <label for="false">
                        Undecided
                        <div id="undecided" class="oppenc">13</div>
                    </label>

                    <label for="false">
                        False
                        <div id="false" class="oppenc">0</div>
                    </label>
                </div>
                
                <label class="outcome" for="false">
                    No clear Winner
                    <div id="winner" class="winner">0</div>
                </label>

            </div>

           

        </section>

    </main>

    <footer>
        <p>&copy; 2024 PawsomeVet Clinic. All rights reserved.</p>
    </footer>

    <script type="text/javascript" src="/static/script.js"></script>
</body>
</html>